footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  border: 1px solid black;
}

.ui.primary.button.stabraq-bg {
  background: #3adb6b;
}

.btn-stabraq {
  background-color: #3adb6b;
}

.btn {
  color: white;
}

.text-stabraq {
  color: #3adb6b !important;
}

#exampleModal .modal-body {
  background-color: #3adb6b;
}
